<nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <a href="{% url 'mapsindex' %}" class="navbar-brand">SBEE-Map.<span class="text-primary">View</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homeindex' %}">Home
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

              </a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mapview' %}">Maps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'AddMapp' %}">Add Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MapData' %}">Map Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Map_Stat' %}">Map Stat</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-2" href="{% url 'dbindex' %}">Dashboard</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>